<div class="business-header">

    <div class="container">

        <div class="row">
            <!--<div class="col-lg-12">-->
            <div class="background-img">
                <!-- The background image is set in the custom CSS -->

                <div id="container-2">
                    <div class="row-big">
                        <p>ABOUT US</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="tabs">
    <div class="tab">

        <input type="radio" id="tab-1" name="tab-group-1" checked>
        <label for="tab-1">WHAT WE DO</label>

        <div class="content">
            blah
        </div>
    </div>
    <div class="tab">
        <input type="radio" id="tab-2" name="tab-group-1">
        <label for="tab-2">WHO WE ARE</label>

        <div class="content">
           stuff
        </div>
    </div>
    <div class="row">
    </div>
</div>
</div>