<div class="business-header">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12">-->
            <div class="background-img">

                <!-- The background image is set in the custom CSS -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row bumpUp">
        <div class="col-sm-6 center">
            <img src="images/we-are.png" alt="" class=""/>
        </div>
        <div class="col-sm-6 center">
            <img src="images/we-do.png" alt="" class=""/>
        </div>

    </div>
    <div class="dropme-little center">
    <img src="images/zaro.png" alt="" class="img-responsive center"/>
    <h3 class="dropme-little">Michael Zaro</h3>
        <p>I have long Eyelashes and I start businesses</p>
        <ul class="dropme-little nav-hor">
            <li><img src="images/zaro.png" alt="" class="mini-image"/></li>
            <li><img src="images/zaro.png" alt="" class="mini-image"/></li>
            <li><img src="images/zaro.png" alt="" class="mini-image"/></li>
            <li><img src="images/zaro.png" alt="" class="mini-image"/></li>
        </ul>
    </div>
</div>