<!DOCTYPE html>
<html lang="en">
    <div class="business-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="background-img">
                        <!--The background image is set in the custom CSS --
                        <!---->
                        <div id="container">
                            <div class="row-big">
                                <p>REACH US</p>
                            </div>
                            <div class="row">
                                <p>425-686-9315</p>

                                <p>379 N University Ave</p>

                                <p>Provo, Ut 84601</p>

                                <p>mzaro@verisage.us</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>
    </div>

    </div>

    </div>


    <div class="row-color">
        <div class="container-3">
            <h1>Contact us</h1>

            <div class="row">
                <div class="form-group col-lg-3">
                    <label for="input1" class=>Name</label><br>
                    <input type="text" name="contact_name" class="form-control" id="input1">
                </div>
                <div class="form-group col-lg-9">
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-3">
                    <label for="input2">Email Address</label><br>
                    <input type="email" name="contact_email" class="form-control" id="input2">
                </div>
                <div class="form-group col-lg-9">
                </div>
                <div class="form-group col-lg-3">
                    <label for="input3">Phone Number</label>
                    <input type="phone" name="contact_phone" class="form-control" id="input3">
                </div>
                <div class="form-group col-lg-9">
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-lg-3">
                    <label for="input4">Message</label>
                    <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                </div>
                <div class="form-group col-lg-3">
                    <input type="hidden" name="save" value="contact">
                    <button type="submit" class="btn btn-primary">SEND</button>
                </div>

                <div class="img col-sm-10">
                    <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zMMhynwKgP-c.kxhwnRRq55Ok" width="425"
                            height="350"></iframe>
                    <br/>
                </div>
                </form>

            </div>

        </div>


        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!--</div>-->


    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>

    </body>
</html>


