<h1>Im from the NG include!!</h1>
<div class="container">
<div class="container-3">
    <div class="row-color">
        <h1>Contact us</h1>
    </div>
    <div class="col-md-6 pull-left">
        <form action="" class="form-group">
                <input type="text" name="contact_name" class="form-control form-custom" id="input1" placeholder="Name"><br/>
                <input type="email" name="contact_email" class="form-control form-custom" id="input2" placeholder="Email Address"><br/>
                <input type="phone" name="contact_phone" class="form-control form-custom" id="input3" placeholder="Phone Number"><br/>
                <textarea name="contact_message" class="form-control form-custom" rows="6" id="input4" placeholder="Message"></textarea><br/>
            <div>
                <button type="submit" class="btn btn-primary btn-primary-custom">SEND</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 pull-right">
            <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zMMhynwKgP-c.kxhwnRRq55Ok" width="425"
                    height="350"></iframe>

    </div>
    <br/>

    <!-- /.row -->

</div>
</div>