<!DOCTYPE html>
<html lang="en">


    <body>
        <div class="business-header">

            <div class="container">

                <div class="row">
                    <!--<div class="col-lg-12">-->
                    <div class="background-img">
                        <!-- The background image is set in the custom CSS -->

                        <div class="container-home">
                            <p>STARTUP DOJO</p>

                            <div class="form-group col-lg-3">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-other">SEND</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

        <div class="section">

            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa fa-check-circle"></i> INFORMATION</h3>

                        <p>Check out the property</p>

                        <p>and see what the Startup</p>

                        <p>Dojo is all about.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa fa-pencil"></i> ABOUT US</h3>

                        <p>Meet the team and learn</p>

                        <p>about why we started the</p>

                        <p>Startup Dojo.</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa fa-folder-open"></i> CONTACT</h3>

                        <p>Contact us to get more</p>

                        <p>information or schedule</p>

                        <p>a tour.</p>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.section -->

        <div class="section-colored text-center">

            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <h2>Modern Business: A Clean &amp; Simple Full Website Template by Start Bootstrap</h2>

                        <p>A complete website design featuring various single page templates from Start Bootstraps
                            library of free HTML starter templates.</p>
                        <hr>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.section-colored -->

        <div class="section">

            <div class="container">

                <div class="home-text">
                    <div class="col-lg-12 text-center">
                        <h2>Stop by!</h2>
                        <hr>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                        </a>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /.section -->


        <div class="container">
            <div class="home-text">
                <hr>
                <h3>Sign up for our email list!</h3>
                <hr>

                <div class="row-color">
                    <div class="container-3">
                        <h1>Questions?</h1>

                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="input1" class=>Name</label><br>
                                <input type="text" name="contact_name" class="form-control" id="input1">
                            </div>
                            <div class="form-group col-lg-9">
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label for="input2">Email Address</label><br>
                                <input type="email" name="contact_email" class="form-control" id="input2">
                            </div>
                            <div class="form-group col-lg-9">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="input3">Phone Number</label>
                                <input type="phone" name="contact_phone" class="form-control" id="input3">
                            </div>
                            <div class="form-group col-lg-9">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-3">
                                <label for="input4">Message</label>
                                <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                            </div>
                            <div class="form-group col-lg-3">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-primary">SEND</button>
                            </div>
                            <div class="img col-sm-10">
                                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">

                                <br/>
                            </div>
                            </form>

                        </div>

                    </div>
                </div>

                <!-- JavaScript -->
                <script src="js/jquery-1.10.2.js"></script>
                <script src="js/bootstrap.js"></script>
                <script src="js/modern-business.js"></script>
            </div>
        </div>
    </body>


</html>