<div class="business-header" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12">-->
            <div class="background-img">
                <!-- The background image is set in the custom CSS -->

                <div class="container-large">
                    <br/>

                    <h1 class="bebasneue mainh1">STARTUP DOJO</h1>
                    <a href="#contact"> <input type="button" class="btn btn-other squared" value="INQUIRE"/></a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="section">


        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <a href="#property-information">
                    <div id="icon-info" class="center"></div>
                </a>

                <h3 class="center-home">INFORMATION</h3>

                <p><h5 class="center-custom"> Check out the property <br>and see what the Startup<br> Dojo is all about.
            </h5></p>
            </div>
            <div class="col-sm-4 col-xs-6">
                <a href="#about">
                    <div id="icon-about" class="center"></div>
                </a>

                <h3 class="center-home">ABOUT US</h3>

                <p><h5 class="center-custom">Meet the team and learn <br>about why we started the<br> Startup Dojo.
            </h5></p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="#contact">
                    <div id="icon-contact" class="center"></div>
                </a>

                <h3 class="center-home">CONTACT</h3>

                <p><h5 class="center-custom">Contact us to get more<br> information or schedule<br> a tour.</h5></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.container -->

    </div>
</div>


<div class="container-carousel">
    <div class='row'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Bottom Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#quote-carousel" data-slide-to="1"></li>
            </ol>

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

                <!-- Quote 1 -->
                <div class="item active">
                    <div class="center">
                        <div class="carousel-text">
                            <p class="blockquote"><i>"The Dojo is to startups as arrows <br/> are to Katniss Everdeen."</i>
                            </p>
                        </div>

                        <small>- Scott Weinert from Comfy</small>
                    </div>
                </div>
                <!-- Quote 2 -->
                <div class="item">
                    <div class="center">
                        <div class="carousel-text">
                            <p class="blockquote"><i>"Moving into the Dojo was one of the best early decisions I made
                                with
                                my first startup. Now I'm onto my second and sometimes wish we hadn't
                                outgrown the space because of the energy and collaboration. Awesome
                                place to get started."</i></p>
                        </div>
                        <small>- Brad Cahoon from Wrapmatch</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">

    <div class="home-text">
        <div class="col-lg-12 text-center">
            <h2>Stop by!</h2>

            <div class="map center">
                <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zMMhynwKgP-c.kxhwnRRq55Ok" width="800"
                        height="350"></iframe>
            </div>
            <hr>
            <div class="row center">
                <h3 class="home-text">Sign up for our email list!</h3>



                <div id="mc_embed_signup">
                    <form action="http://tumblr.us4.list-manage.com/subscribe/post?u=df17c74232225b90a55cbb5a1&amp;id=ae3279309c"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>

                        <div class="col-xs-6">
                            <div class="pull-right">

                                <div class="mc-field-group">
                                    <!--<label for="mce-EMAIL">Email Address</label>-->
                                    <input type="email" value="" name="EMAIL" placeholder="email"
                                           class="form-control rounded" id="mce-EMAIL">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pull-left">
                                <div class="clear"><input type="submit" value="SEND" name="subscribe"
                                                          id="mc-embedded-subscribe" class="btn btn-primary-custom">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="inblock">
            <div class="row">
                <div class="col-md-6">
                    <div class="container">
                        <div class="dropme">
                            <h1 class="row-color">Questions?</h1>

                            <div class="col-md-6 pull-left">
                                <form action="" class="form-group">
                                    <input type="text" name="contact_name" class="form-control form-custom" id="input1"
                                           placeholder="Name"><br/>
                                    <input type="email" name="contact_email" class="form-control form-custom"
                                           id="input2"
                                           placeholder="Email Address"><br/>
                                    <input type="phone" name="contact_phone" class="form-control form-custom"
                                           id="input3"
                                           placeholder="Phone Number"><br/>
                                    <textarea name="contact_message" class="form-control form-custom" rows="6"
                                              id="input4"
                                              placeholder="Message"></textarea><br/>

                                    <div>
                                        <button type="submit" class="btn btn-primary btn-primary-custom">SEND</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 pull-right">
                                <img class="img-responsive" src="http://placekitten.com/700/450">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
