
    <div class="business-header">
        <div class="row">
            <!--<div class="col-lg-12">-->
            <div class="background-img">
                <!-- The background image is set in the custom CSS -->

                <div class="container-2">
                    <div class="row-big">
                        <p>PROPERTY INFO</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-3">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">

                <h2>Amenities</h2>
                <ul>
                    <li>Furnished office space</li>
                    <li>2 conference rooms</li>
                    <li>All utilities included</li>
                    <li>Wireless internet</li>
                    <li>Mailing address</li>
                    <li>Weekly Cleaning</li>
                    <li>Flexible lease</li>
                    <li>Kitchen</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <div class="container-pricing">

        <div class="row">

        </div>

        <div class="row">

            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="panel-title price">$0
                            <span class="price-month">/month</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        <p class="panel-heading"><strong>BASIC</strong></p>

                        <p class="main-list-item">Open desk space</p>
                        <li class="list-group-item">Come to the Dojo anytime to work in a relaxed enviroment
                            with entrepreneurs like you.
                        </li>
                        <li class="list-group-item"><a class="btn btn-primary">INQUIRE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="panel-title price">$50
                            <span class="price-month">/month</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        <p class="panel-heading"><strong>INTERMEDIATE</strong></p>

                        <p class="main-list-item">Reserved desk space</p>
                        <li class="list-group-item">Take your business to the next level with your
                            own desk set aside for you at the Dojo. Flexible lease available
                        </li>

                        <li class="list-group-item"><a class="btn btn-primary">INQURE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3 class="panel-title price">$300
                            <span class="price-month">/month</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        <p class="panel-heading"><strong>DA BEST</strong></p>

                        <p class="main-list-item">1 room reserved space</p>
                        <li class="list-group-item">Ideal for 3-5 people, this set up will give you an entire
                            room to take your startup from zero to hero. Flexible lease.
                        </li>

                        <li class="list-group-item"><a class="btn btn-primary">INQUIRE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!---->

        </div>

    </div>
    <!-- /.container -->
    <div class="row">
        <div class="row-color">
            <div class="container-3">
                <h1>Questions?</h1>

                <div class="row">
                    <div class="form-group col-lg-3">
                        <label for="input1" class=>Name</label><br>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-9">
                    </div>

                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        <label for="input2">Email Address</label><br>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-9">
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="input3">Phone Number</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                    <div class="form-group col-lg-9">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-3">
                        <label for="input4">Message</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-3">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary">SEND</button>
                    </div>

                </div>
                <div class="img col-sm-10">
                    <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->


    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modern-business.js"></script>